<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.mapper.MemberMapper">

    <resultMap id="memberDtoResultMap" type="com.zerobase.fastlms.dto.MemberDto">
        <result column="user_Id" property="userId"/>
        <result column="user_Name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="reg_Dt" property="regDt"/>
        <result column="udt_Dt" property="udtDt"/>
        <result column="email_Auth_Yn" property="emailAuthYn"/>
        <result column="email_Auth_Dt" property="emailAuthDt"/>
        <result column="email_Auth_Key" property="emailAuthKey"/>
        <result column="reset_Password_Key" property="resetPasswordKey"/>
        <result column="reset_Password_Limit_Dt" property="resetPasswordLimitDt"/>
        <result column="admin_Yn" property="adminYn"/>
        <result column="member_Status" property="memberStatus"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="zipcode" property="zipcode"/>
        <result column="addr" property="addr"/>
        <result column="addr_Detail" property="addrDetail"/>
    </resultMap>

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    user_id like concat('%', #{searchValue}, '%')
                    or
                    user_name like concat('%', #{searchValue}, '%')
                    or
                    phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>

    </sql>

    <select id="selectListCount" resultType="long">
        select count(*)
        from member
        where 1 = 1
            <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultMap="memberDtoResultMap">
        select *
        from member
        where 1 = 1
            <include refid="selectListWhere"/>

        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
